.profile{
    display: flex;
    margin-bottom: 44px;
}
.profilepic-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    flex-grow: 1;
}
.profilepic img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.detail{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
.username-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.username h1{
    font-weight: 300;
}
.btns{
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.btns button{
    height: 30px;
    padding: 5px 10px;
    margin-left: 8px;
    border-radius: 4px;
    border: 1px solid var(--border-grey);
    background: none;
    font-weight: 600;
    display: flex;
    align-items: center;
}
button.followbtn{
    padding: 0 25px;
}
.optionsbtn{
    background: none;
    display: flex;
    padding: 8px;
    border: none;
    margin-left: 5px;
}
.stats{
    display: flex;
    font-size: 16px;
    margin-bottom: 20px;
}
.stats span{
    font-weight: 600;
}
.followers, .following{
    cursor: pointer;
}
.followers:active, .following:active{
    opacity: .5;
}
.info{
    font-size: 16px;
    line-height: 24px;
}

.name{font-weight: 600;}
.occ{color: var(--grey-clr);}
.posts, .followers{margin-right: 40px;}
button.b{
    border: none;
    color: #fff;
    fill: #fff;
    background: var(--lg-blue);
}
