.modal{
    background: #fff;
    border-radius: 12px;
    border: 1px solid var(--border-grey);
    width: 400px;
    max-height: calc(100% - 40px);
    overflow: hidden;
}
.modal-header{
    height: 42px;
    width: 100%;
    border-bottom: 1px solid var(--border-grey);
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.modal-header h1{
    display: flex;
    font-size: 16px;
    font-weight: 600;
    flex-grow: 1;
    justify-content: center;
}
.close-btn{
    position: absolute;
    right: 0;
    padding: 8px 16px;
    display: flex;
    border: none;
    background: none;
    justify-self: end;
}
.modal-body{min-height: 200px;}