.modal{
    background: #fff;
    border-radius: 12px;
    border: 1px solid var(--border-grey);
    width: 400px;
    max-height: calc(100% - 40px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.modal-header{
    height: 42px;
    width: 100%;
    border-bottom: 1px solid var(--border-grey);
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.modal-header h1{
    display: flex;
    font-size: 16px;
    font-weight: 600;
    flex-grow: 1;
    justify-content: center;
}
.header{
    margin: 32px;
    margin-bottom: 16px;
}
.header h1{
    display: flex;
    justify-content: center;
    margin: -4px 0 -6px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
}
.close-btn{
    position: absolute;
    right: 0;
    padding: 8px 16px;
    display: flex;
    border: none;
    background: none;
    justify-self: end;
}
.modal-body{min-height: 200px;}
.profile{
    margin: 16px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
}
.profile img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
}
.username{
    display: flex;
    justify-content: center;
    margin: 16px 32px;
}
.btns{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.btn{
    color: var(--blck-clr);
    min-height: 48px;
    padding: 4px 8px;
    background: none;
    border: none;
    vertical-align: middle;
    width: 100%;
    line-height: 21px;
    border-top: 1px solid var(--border-grey);
    font-size: 14px;
}
.btn:active{
    background-color: rgba(0, 0, 0, .1);
    opacity: 1;
}
.warning{
    font-weight: 700;
    color: var(--warning);
}
.blue-txt-btn{
    color: var(--lg-blue);
    font-weight: 700;
}
.options{
    display: flex;
    flex-direction: column;
}
.options>.btn:first-child{
    border-top: none;
}

@media (max-width: 735px){
    .modal{
        width: 260px;
    }
}