.navbar{
    height: 60px;
    width: 100vw;
    max-width: 100%;
    border-bottom: 1px solid var(--border-grey);
    background: #fff;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.container{
    display: flex;
    max-width: 975px;
    width: 100%;
    padding: 0 20px;
    align-items: center;
}
.brand{
    display: flex;
    flex: 1 0 127px;
}
.brand a{
    display: flex;
}
.panel{
    display: flex;
    flex: 1 0 127px;
    justify-content: flex-end;
}
.panel-btn{
    display: flex;
    color: var(--blck-clr);
    cursor: pointer;
    position: relative;
}
.panel-btn:not(:first-child){
    margin-left: 22px;
}
.account{
    height: 24px;
    width: 24px;
    margin-left: 22px;
    position: relative;
}

.icon{
    display: flex;
    background: none;
    border-radius: 50%;
    cursor: pointer;
}
.icon img{
    height: 24px;
    width: 24px;
    border-radius: 50px;
}
.dropdown{
    top: 40px;
    left: -186px;
    position: absolute;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .0975);
    display: none;
    z-index: 500;
}
.account .dropdown{
    width: 230px;
}
.hider{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 490;
    display: none;
}
.hider.open{display: block;}
.foc .icon{
    box-shadow: 0 0 0 1px white ,0 0 0 2px black
}
.foc .dropdown{display:block}
.dropdown a{
    color: var(--blck-clr);
    text-decoration: none;
}
.tab{
    display: flex;
    padding: 8px 16px;
}
.dropdown a:first-child .tab{
    padding-top: 12px;
}

.tab svg{
    margin-right: 12px;
    height: 16px;
    width: 16px;
}
.label{
    display: flex;
    align-items: center;
    height: 21px;
    line-height: 18px;
}
.logout{
    border-top: 1px solid var(--border-grey);
    margin-bottom: 4px;
    padding: 8px 16px;
    cursor: pointer;
}
.tab:hover, .logout:hover{
    background-color: var(--grey-100);
}