.container{
    display: flex;
    position: relative;
}
.container input{
    display: flex;
    background: var(--grey-200);
    border-radius: 8px;
    border: none;
    padding: 3px 16px;
    font-size: 16px;
    min-width: 125px;
    line-height: 2;
    width: 268px;
}