.slider{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
}
.slide{
    display: flex;
    flex: 1;
    height: 100%;
}
.indicator{
    height: 6px;
    width: 6px;
    background: var(--grey-300);
    border-radius: 50%;
    margin-right: 4px;
}
.current{
    background: var(--lg-blue);
}
.indicator, .btn{
    position: absolute;
}
.btn{
    top: 50%;
}
.left{left:0}
.right{right:0}
.left svg{transform: rotate(-90deg);}
.right svg{transform: rotate(90deg);}