.modal{
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    margin: 20px;
    min-width: 348px;
    max-height: calc(100% - 40px);
    min-height: 391px;
}
.header{
    display: flex;
    align-items: center;
    height: 42px;
    border-bottom: 1px solid var(--border-grey);
}
.header h1{
    flex-grow: 3;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}
.header button{
    border: none;
    background: none;
    display: flex;
    padding: 8px;
}
.header button:first-child{
    margin-left: 8px;
}
.header button:last-child{
    font-size: 14px;
    padding: 16px;
    font-weight: 600;
    color: var(--lg-blue);
}
.closebtn{
    position: absolute;
    right: 8px;
    top: 8px;
    background: none;
    border: none;
    padding: 8px;
}
.closebtn svg{
    fill: #fff;
    color: #fff;
}

.body{
    display: flex;
    flex-direction: column;
    min-width: 348px;
    min-height: 348px;
    height: calc(100vmin - 219px);
}
.start{
    padding: 24px;
}
.start, .crop, .preview{
    justify-content: center;
    width: 448px;
    aspect-ratio: 1;
}
.start h2{
    margin-top: 12px;
    font-weight: 300;
    line-height: 26px;
    font-size: 22px;
    margin-bottom: -5px;
}
.start p{
    margin-top: 16px;
    color: var(--grey-clr);
    font-size: 14px;
    text-align: center;
}
.start span{
    font-weight: 600;
}
.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload-container{
    margin-top: 24px;
    padding: 4px;
}
.upload-container button{
    background: var(--lg-blue);
    color: #fff;
    border-color: rgba(0, 0, 0, 0);
    padding: 5px 9px;
    border-radius: 4px;
    font-weight: 600;
}
.upload-container input{
    display: none;
}

/*********************************/
/* crop page */

.crop{
    position: relative;
}

.slider-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;

}
.slider{
    display: flex;
    flex-shrink: 0;
    height: 100%;
}
.slide{
    flex: 1;
    height: 100%;
}
.panel{
    display: flex;
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
}
.navbtn button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.rightbtn{
    right: 0;
}
.panelbtn{
    position: absolute;

}
.panelbtn button, .navbtn button{
    display: flex;
    padding: 8px;
    margin: 8px;
    background-color: rgba(26, 26, 26, 0.8);
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%)
}
.panelbtn button:hover, .navbtn button:hover{
    opacity: 0.7;
}
.panelbtn svg, .navbtn svg{
    color: #fff;
    fill: #fff;
}



/*********************************/
/* final page */

.final{
    flex-direction: row;
}
.preview{
    display: flex;
    justify-content: center;
    background: var(--grey-100);
    height: 100%;
}
.pic{
    height: 100%;
}
.pic img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.side{
    overflow-y: scroll;
    border-left: 1px solid var(--border-grey);
    width: 340px;
    height: 100%;
}
.caption-container, .accessibility-container, .settings-container{
    width: 100%;
}
.profile{
    display: flex;
    margin: 18px 16px 14px;
    align-items: center;
}
.profile-img{
    margin-right: 12px;
    border-radius: 50%;
    overflow: hidden;
    height: 28px;
    width: 28px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.username p{
    font-weight: 600;
    font-size: 16px;
}

.caption-container textarea{
    height: 168px;
    padding: 0 16px;
    resize: none;
    font-size: 16px;
    line-height: 24px;
    border: none;
}
.accessibility-container, .settings-container{
    width: 100%;
    border-top: 1px solid var(--border-grey);
}
.togglebtn{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 16px;
    cursor: pointer;
}
.togglebtn svg{
    transform: rotate(0.5turn);
}
.accessibility-container[open] .togglebtn, .settings-container[open] .togglebtn{
    font-weight: 600;
}
.accessibility-container[open] .togglebtn svg, .settings-container[open] .togglebtn svg{
    transform: rotate(0);
}
.info{
    padding: 4px 16px;
}
.info p{
    font-size: 12px;
    color: var(--grey-clr);
}
.field-container p{
    padding: 12px 0;
}
.field{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.field h2{
    font-weight: 400;
    font-size: 16px;
}
.toggle{
    height: 28px;
    width: 44px;
    background: var(--grey-clr);
    border-radius: 30px;
    padding: 3px;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
}
.toggle::before{
    content: '';
    position: absolute;
    background: #fff;
    height: 22px;
    width: 22px;
    border-radius: 50%;
}
.toggle[open]{
    background: var(--lg-blue);
}
.toggle[open]::before{
    right: 3px;
}






@media screen and (max-width: 820px) {
    .start, .crop, .preview{
        width: 53vw;
    }
}